.filter-container {
    position: sticky;
    top: 0;
    margin: 0 auto;
    max-width: 900px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    gap: 10px; /* Отступы между элементами */
}

.filter-container .filter-group#filter-brand,
.filter-container .filter-group#brand-abstract {
    flex: 1 1 20%; /* Бренд и абстрактные свойства занимают по 20% контейнера */
    min-width: 150px; /* Минимальная ширина для корректного отображения */
}

.price-inputs {
    flex: 1 1 50%; /* Поля для ввода цен занимают оставшиеся 50% контейнера */
    display: flex;
    align-items: center;
    gap: 5px; /* Отступ между элементами */
    width: 100%; /* Полная ширина контейнера */
}

.filter-button-container {
    flex: 1 1 10%; /* Кнопка "Найти" занимает 10% контейнера */
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-select, .price-inputs input {
    width: 100%; /* Полная ширина для всех элементов */
    height: 36px; /* Стандартная высота */
    padding: 6px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2b2b2b;
    color: white;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 5px;
}

.filter-button {
    width: 100%; /* Полная ширина кнопки */
    height: 36px; /* Стандартная высота */
    padding: 0;
    border: none;
    background-color: #04AA6D;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

.filter-button:hover {
    background-color: #038e55;
    transform: translateY(-2px);
}

.currency {
    margin-left: 5px;
    font-weight: bold;
    color: #cfcfcf; /* Цвет для лучшего контраста */
}

@media (max-width: 768px) {
    .filter-container {
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Уменьшенные отступы между элементами */
    }
    .filter-group, .price-inputs, .filter-button-container {
        width: 100%; /* Полная ширина для элементов на маленьких экранах */
    }
    .price-inputs {
        flex-direction: column;
    }
    .price-wrapper {
        width: 100%;
        margin-bottom: 10px;
    }
}