{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A88PC</title>
    <link rel="stylesheet" href="{% static 'main/styles/home.css' %}">
    <link rel="stylesheet" href="{% static 'main/styles/products_style.css' %}">
    <link rel="stylesheet" href="{% static 'main/styles/search.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>A88PC</h1>
        </div>
    </header>
    <header>
        <div class="visitor-count">
            Visited: {{ visitor_count }}
        </div>
        {% include 'main/search_form.html' %}
    </header>
    <main>
         <section>
        <div class="products-container">
            {% for product in products %}
                <div class="products">
                    <article>
                        <a href="{% url 'products-list' product.slug %}" class="btn">
                        <div class="product-summary">
                            <div class="product-image">
                                <img src="{{ product.image.all.0.image.url }}" alt="{{ product.title }}">
                            </div>
                            <div class="product-title">
                                <h3>{{ product.title }}</h3>
                            </div>
                        </div>
                        </a>
                    </article>
                </div>
            {% endfor %}
        </div>
    </section>
    </main>

    <footer>
        <p>&copy; 2024 A88PC. All rights reserved.</p>
    </footer>

    <script>
        function fetchVisitorCount() {
            fetch('/api/visitor-count/')
                .then(response => response.json())
                .then(data => {
                    document.querySelector('.visitor-count').innerText = 'Visited: ' + data.visitor_count;
                });
                }
                .catch(error => {
                    console.error('Error fetching visitor count:', error);
                });
        }
    
        // Запрашиваем счетчик каждые 60 секунд
        setInterval(fetchVisitorCount, 60000);
        
        // Вызываем функцию сразу при загрузке страницы
        document.addEventListener('DOMContentLoaded', fetchVisitorCount);
    </script>
</body>
</html>